.button {
  background-color: var(--primary-80);
  border: 1px solid var(--background);
  border-radius: var(--b-radius-16);
  padding: .3rem .5rem;
  color: var(--background);

  box-shadow: var(--b-shadow-5);
}