
.playersCardSqueleton {
    height: 300px;
    margin: 2rem 2rem;
    border-radius: var(--b-radius-12);
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.matchCardSqueleton {
    height: 100px;
    margin: 1rem 1rem;
    border-radius: var(--b-radius-12);
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.formSqueleton {
    width: 330px;
    height: 35px;
    margin: 1rem 1rem;
    border-radius: var(--b-radius-12);
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.formTitleSqueleton {
    margin: 2rem auto;
    align-self: center;
    width: 200px;
    height: 30px;
    border-radius: var(--b-radius-12);
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.progressBarSqueleton_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .progressBarSqueleton_container {
        width: 50%;
    }
}
.progressBarSqueleton_content {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.mediaSqueleton {
    height: 60px;
    width: 60px;
    border-radius: var(--b-radius-50);
    background: rgba(0, 0, 0, 0.3);
}

.progressBarSqueleton {
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: var(--b-radius-5);
    margin-left: .3rem;
}

